.node {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;
}

.wall {
    background-color: rgb(3, 3, 53);
}

.destination {
    background-color: green;
}

.source {
    background-color: red;
}